.floating-social {
    position: fixed;
    right: 20px;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 9999;
  }
  
  .floating-social a {
    background: white;
    border-radius: 50%;
    padding: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    animation: pulse 1.5s infinite;
  }
  
  .floating-social .whatsapp {
    background-color: #25D366;
  }
  
  .floating-social .insta {
    background-color: rgb(200, 54, 79);
  }
  .floating-social .telegram {
    background-color: #0088cc;
  }
 
  .floating-social .youtube{
    background-color: #FF0000;
  }
  .floating-social a:hover {
    transform: scale(1.1);
  }
  

  /* Blinking Animation */
  @keyframes pulse {
    0%, 100% {
      box-shadow: 0 0 0 0 rgba(0, 136, 204, 0.4);
    }
    50% {
      box-shadow: 0 0 0 10px rgba(0, 136, 204, 0);
    }
  }
  